<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>DashBoard</mat-toolbar>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a routerLink="create-invoice" routerLinkActive="active" mat-list-item >Create Employee </a>
      <mat-divider></mat-divider>
      <a routerLink="invoice-list" routerLinkActive="active" mat-list-item>Employee List</a>
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="warn">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Invoice Application</span>
    </mat-toolbar>
   <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
